!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h2
      #{@user_name} has sent you #{@amount}
    %p
      Click on the following link to #{link_to 'register and retrieve', @link} it
