<%= simple_form_for(@account, as: 'account', url: account_registration_step2_path, html: {role: 'form', class: 'register_account_form'}) do |f| %>
  <div class="form-group">
    <%= f.input :name, required: false, autofocus: true, label: 'Account Name' %>
  </div>
  <div class="form-group">
    <%= f.input :key, required: false, label: 'Public Key' %>
  </div>
  <%= f.button :submit, 'Register Account' %>
<% end %>
