<div class="page-header">
  <h1>Create new referral code</h1>
</div>

<%= form_for [:admin, @referral], :html => { :class => "form-horizontal", :role => "form" } do |f| -%>
  <%= render "form", { :f => f } %>
<% end -%>
