.page-header
  %h1
    Referral Code
    %span.label.label-success= @referral.code
%div#referral_code{data: {url: profile_referral_code_path(@referral)} }
  = render 'code'

= link_to('All referral codes', profile_referral_codes_path)
